* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
   display: flex;
   padding: 40px;
}

.sectiongauche{
    flex: 35%;
    height: 100vh;
    background-color: rgb(142, 217, 242);
    padding: 40px;
}


    
 img {
   
    height: 35px;
    width: 35px;
    margin-bottom: 180px;


}

.container .sectiongauche .text h1 {
     text-transform: uppercase;
     font-weight: 600;
     color: rgba(1, 14, 21, 0.967);
     padding-bottom: 15px;
}

.container .sectiongauche .text p{
    color: rgba(53, 51, 49, 0.898);
    padding-bottom: 25px;
    font-size: large;
}

.container .sectiongauche button{
    height: 40px;
    width: 150px;
    background-color: rgb(72, 68, 66);
    border: none;
}
.container .sectiongauche button a{
    text-decoration: none;
    color: #fff;
}

.container .sectiongauche .text h1 p{
    left: 25%;
}


.sectiondroit{
    position: relative;
    display: flex;
    flex: 65%;
    background-image: url(./polynesia-3021072_1920.jpg);


}


nav ul  {
    text-align: center;
    padding: 0px;    
    margin: 50px ;
    list-style-type: none;
    background-color: #3333;
  
}

nav li {
    display: inline-block;
    margin: 0px;
    padding: 0px;
    width: 100px;
    height: 40px;
    border-right: 1px solid #cccc;
    text-align: center;
    line-height: 40px;
}

nav li a{
    display: block;
    text-decoration: none;
    color: #fff;
}

nav li :hover{
    background-color: #3388BB;
}



.sectiondroit .box{
    position: absolute;
    height: 100px;
    width: 300px;
    bottom: 0;
    right: 0;
    background-color: rgba(169, 227, 240, 0.631);
    padding: 10px 10px;
    margin: 25px;
    border-radius: 15px;
}

.sectiondroit .box{
    padding-bottom: 25px;

}